/* fonts */

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Nunito:300);


/* colors 
  dark-main-blue: #0b091c
  smooth-background: #ebebeb
  palid-orange: #f98032
*/


body {
  width:100%;
  margin: 0px;
  padding: 0px;
  background-color: #ebebeb;
  
  font-family: Roboto;
  font-family: Open Sans;
  font-family: Nunito;
}

/* header */

.navbar{
  min-height:80px;
  background-color: #0b091c;
  
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
}

/* fixes for full responsive */
.navbar-header {
  min-height: 80px;
}

.navbar-collapse.collapse.in li, .navbar-collapse.collapsing li {
  padding-left:10px;
  padding-top:10px;
}


.navbar ul {
  padding-top: 30px;
}

.navbar .dropdown-menu {
  padding:15px 0px 5px 0px;
}



.navbar .wrap {
  max-width: 768px;
}

/* footer */
.footer {
  background-color:#0b091c;
  min-height: 300px;
  padding-top: 30px; 
  color: #ebebeb;
}

.box {
  //margin-top: 30px;
  //border-top: solid 1px #ebebeb;
}

.filler {
  height:150px;
}

/* content */
.container {
  max-width: 900px;
}

#banner {
  height: 600px;
}

#banner .temp {
  padding-top: 330px;
  text-align: center;
  color: #000;
}

#banner .temp a {
  margin-top: 30px;
  padding: 0px 40px 0px 40px;

}

#partners-bar {
  text-align: center;
  background-color: #f98032;
  padding-top:15px;
  height: 150px; 
}

#examples-bar {
  background-color:#0b091c;
  min-height: 590px;
  text-align: center;
}

#examples-bar img {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto; 
}

#examples-bar  p {
  line-height: 1.3;
}

#examples-bar .description p {
  padding: 20px 20px 80px 20px;
  line-height: 1.6;
  text-align: justify;
}

#examples-bar .header {
  padding-top: 30px;
  padding-bottom: 60px;
}


#products-bar {
  min-height: 630px;
  background-color: #ebebeb;
  text-align: center;
}

#products-bar .header {
  padding-top: 30px;
  padding-bottom: 60px;
   color: black;
}


#products-bar  p {
  line-height: 1.3;
}

#products-bar .description p {
  padding: 20px 20px 10px 20px;
  line-height: 1.6;
  text-align: justify;
  color: black;
}

#products-bar #more {
  padding-top: 10px;
  padding-bottom: 70px;
  padding-left: 25px;
  color: #000;
  text-align: left;
}

#products-bar #more a {
  text-decoration: none;
  color: grey; 
}

#products-bar #more a:hover {
  text-decoration: none;
  color: #000; 
}


#products-bar .cart-button {
  float:left;
  padding: 20px 20px 10px 20px;
}

#products-bar .cart-button a {
 padding: 0px 15px 0px 15px; 
}

#featured-bar {
  min-height: 170px;
  background-color: #fff;
  text-align: center;
  color:#606060;
  padding-top: 10px;
}

#featured-bar .logos {
  padding-top: 20px;
}


#clear {
  clear: both;
}

/* all products*/
#products-showroom {

  padding: 80px 0px 30px 0px;

}



/* product */

#main-product {
  padding: 130px 0 50px 0;
  
}

#product-info {
  padding: 0px 0 0 130px;
  color: #000;
}

#product-info #title {
  padding-bottom: 15px;
}

#product-info .cart-button {
  padding-top: 15px;
}

#product-info .cart-button .btn {
  padding: 0px 25px 0px 25px;
}

#products-price {
  font-size: 23px;
}

#product-slider {
  padding-bottom: 50px;
}

#product-slider img {
  margin-right: 30px;
}



.nav-tabs {
 margin-left: auto; 
 margin-right: auto;
 width: 390px;
 padding-bottom: 30px;
}

.nav-tabs li.active a {
  border: 0px;
  background-color: #0b091c;
}

.nav-tabs li  a {
  border: 0px;
  background-color: #ebebeb;
  color: #0b091c;
}


#product-specs-content {
  color: #000;
}

#main-product, #product-specs-content {
  min-height: 300px;
}

/* contact */
#map-container {
  min-height: 500px; 
  padding-top: 120px;
  padding-bottom: 30px;  
  margin-left: auto;
  margin-right: auto;
  color: #000;
  max-width: 720px;
}

#map-container img {
  padding-top: 10px;
}

#contacts {
  min-height: 420px;
  background-color: #0b091c;
  color: #fff;
}


#contacts .header {
  padding-top: 35px;
  text-align: center;
}

#contacts .header p {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 17px;
  
}

#contacts .box {
  padding-top: 5px;
}


/* media queries */



