/* fonts */

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Nunito:300);


/* colors 
  dark-main-blue: #0b091c
  smooth-background: #ebebeb
  palid-orange: #f98032
*/


body {
  width:100%;
  margin: 0px;
  padding: 0px;
  //background-color: #ebebeb;
  
  background-color: #fff;
  
  font-family: Roboto;
  font-family: Open Sans;
  font-family: Nunito;
}

/* header */

.navbar{
  min-height:80px;
  background-color: #0b091c;
  
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
}

/* fixes for full responsive */
.navbar-header {
  min-height: 80px;
}

.navbar-collapse.collapse.in li, .navbar-collapse.collapsing li {
  padding-left:10px;
  padding-top:10px;
}


.navbar ul {
  padding-top: 30px;
}

.navbar .dropdown-menu {
  padding:15px 0px 5px 0px;
}

.navbar .wrap {
  max-width: 768px;
}

/* footer */
.footer {
  background-color:#0b091c;
  min-height: 300px;
  padding-top: 30px; 
  color: #ebebeb;
}

.box {
  //margin-top: 30px;
  //border-top: solid 1px #ebebeb;
}

.filler {
  height:150px;
}

/* content */
.container {
  max-width: 900px;
}



.center {
  float: none;
  margin-left: auto;  
  margin-right: auto;  
}

#banner .header {
  width: 60%;
}

#banner .video {
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-top: 10px;
}

#banner .video img {
  float: left;
  margin: 20px;
}

#banner .video h5 {
  float: left;
  margin: 20px;
  margin-left: 0px;
}


/* CHANGE*/
#banner {
  background: url('../../imgs/final_header_1.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 670px;
}
#banner-vd {
  height: 670px;
}

#banner .text, #banner-vd .text {
  //background-color:rgba(0,0,0,0.4);
  margin-top: 130px; 
  padding: 5px 0px 20px 30px; 
  color: #fff;
  text-align: center;
}

#banner img, #banner-vd img {
  margin-bottom: 5px;
}

#banner h1, #banner-vd h1 {
  font-size: 35px;
  line-height: 1.2;
  font-weight: bold;
  font-family: Arial;
}

#banner h2, a {
  padding-bottom: 15px;
}

#banner-vd h2, a {
  padding-bottom: 15px;
}


#banner .btn, #banner-vd .btn {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #fff;
  background-color: transparent;
  padding:  0px 35px; 
  border: 3px solid white;
  border-radius: 25px;
}

#partners-bar {
  text-align: center;
  //background-color: #f98032;
  background-color: #fff;
  color: #444;
  padding-top:15px;
  height: 200px; 
}


#partners-bar hr {
  width: 70%;
  color: #444;
  background-color: #444;
}

#products-bar #more-info, 
#examples-bar #more-info {
  text-align: center;
  color: #444;
  padding: 15px;
}

#examples-bar {
  background-color:#0b091c;
  min-height: 590px;
  text-align: center;
}

#examples-bar img {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;   
}

#examples-bar  p {
  line-height: 1.3;
}

#examples-bar .description p {
  padding: 20px 20px 80px 20px;
  line-height: 1.6;
  text-align: justify;
}

#examples-bar .header {
  padding-top: 30px;
  padding-bottom: 60px;
}


#products-bar {
  min-height: 630px;
  //background-color: #ebebeb;
  background-color: #fff;
}

#products-bar .header {
  padding-top: 30px;
  padding-bottom: 60px;
  color: black;
  text-align: center;
}

#products-bar .product-header {
  color: #000;
  padding-bottom: 17px;
  padding-left: 5px;
}

#products-bar .product-header h4 {
  padding: 0px;
  margin: 0px;
} 

#products-bar .product-header p {
  padding: 0px;
  margin: 0px;
} 

#products-bar  p {
  line-height: 1.3;
}


#products-bar .description p {
  padding: 20px 20px 10px 20px;
  line-height: 1.6;
  text-align: justify;
  color: black;
}

#products-bar #more {
  padding-top: 10px;
  padding-bottom: 70px;
  padding-left: 25px;
  color: #000;
  text-align: left;
}

#products-bar #more a {
  text-decoration: none;
  color: grey; 
}

#products-bar #more a:hover {
  text-decoration: none;
  color: #000; 
}

#products-bar .cart-button {
  float:left;
  padding: 20px 20px 10px 20px;
}

#products-bar .cart-button a {
 padding: 0px 15px 0px 15px; 
}

#featured-bar {
  min-height: 170px;
  background-color: #fff;
  text-align: center;
  color:#606060;
  padding-top: 10px;
}

#featured-bar .logos {
  padding-top: 20px;
}


#clear {
  clear: both;
}

#products-bar .img {
  padding-bottom: 15px;
}

.inline {
  display: inline-block;
}

#products-bar #products-price p {
  padding-top: 5px;
  margin-bottom: 5px; 
}

.learn-more-btn {
  text-align: left;
}

.learn-more-btn .arrow{
  padding-left: 90px;
}

.learn-more-btn .btn h5 {
  margin: 0px;
}

.learn-more-btn .btn {
  color: #000;
  border: solid 2px #0b091c;

  border-radius: 25px; 
  //background-color: #00a0c6;
  background-color: transparent;
  padding: 1px 10px 1px 10px;
}


#products-bar .description {
  color: #000;
}

.description {
  padding-bottom: 50px;
}

.description ul {
    list-style-type: none;
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.description li {
  color: #6d6767;
  padding: 5px 0px 0px 0px; 
}

.description li img {
  width: 30px;
  height: auto;
}

.description .spec {
  border-left: solid 1px #a6a6a6;
  padding-left: 15px;  
}

.description .icon {
  padding-right: 10px;
  font-size: 23px;
}



/*new endorsements*/

.bubble {
  position: relative;
  max-width: 250px;
  height: 150px;
  padding: 0px;
  background: #ebebeb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 40px 
}

.bubble p {
 font-size: 16px; 
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #ebebeb transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 110px;
}

#endorsements-bar {
  background-color: #fff;
  color: #606060;
  padding-top: 30px;
  padding-bottom: 50px;
}

#endorsements-bar #header {
  text-align: center;
}

#endorsements-bar #endorsements {
  padding-top: 20px;
  padding-bottom: 70px;
}

#endorsements-bar #text {
  text-align: center;
  color: #000;
}

#endorsements-bar #text p {
  margin-bottom: 0px;
}
#endorsements-bar #text h3 {
  margin-top: 0px;
  padding-bottom: 10px;
}

#endorsements-bar .btn {
  color: #fff;
  background-color: #f98032;
  padding:  0px 15px; 
}
/*!new*/




/* all products*/
#products-showroom {
  padding: 80px 0px 30px 0px;

}



/* product */

#products-menu {
  padding-bottom: 30px;
}

#main-product {
  padding: 80px 0 50px 0;
  
}

#buy-options {
  margin-top: 30px;
  padding-bottom:20px;
}

#quantity input {
  width: 40px;
  padding-left: 10px;
  margin-left: 30px;
  border: solid 1px #ddd;
  color: #333;
}

#variants {
  padding-top: 10px;
}

#variants select {
  width: 100px;
  margin-left:50px;
  background-color: #fff;
  border: solid 1px #ddd;
  color: #333;
}

#product-info {
  padding: 0px 0 0 130px;
  color: #000;
}

#product-info #title {
  padding-bottom: 15px;
}

#product-info .cart-button {
  padding-top: 15px;
}

#product-info .cart-button .btn {
  background-color: #eee;
  border: solid 2px #222;
  border-radius: 25px;
  color: #222;
  padding: 0px 25px 0px 25px;
}

#products-price {
  color: #000;
  font-size: 21px;
  text-align: left;
  padding-left: 5px;
}

#product-slider {
  padding-bottom: 80px;
}

#product-slider img {
  margin-right: 30px;
}


.nav-tabs {
 margin-left: auto; 
 margin-right: auto;
 width: 500px;
 padding-bottom: 30px;
}

.nav-tabs li.active a {
  border: 0px;
  background-color: #0b091c;
}

.nav-tabs li  a {
  border: 0px;
  background-color: #ebebeb;
  color: #0b091c;
}


#product-specs {
  border-top: solid 1px #ddd;
}

#product-specs-content {
  color: #000;
}

#product-specs #entry {
  padding: 20px;
  padding-top: 50px;
}

#main-product, #product-specs-content {
  min-height: 300px;
  padding-bottom: 50px;
}

/* contact */
#map-container {
  min-height: 500px; 
  padding-top: 120px;
  padding-bottom: 30px;  
  margin-left: auto;
  margin-right: auto;
  color: #000;
  max-width: 720px;
}

#map-container img {
  padding-top: 10px;
}

#contacts {
  min-height: 420px;
  background-color: #0b091c;
  color: #fff;
}


#contacts .header {
  padding-top: 35px;
  text-align: center;
}

#contacts .header p {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 17px;
  
}

#contacts .box {
  padding-top: 5px;
}


/* media queries */



