---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% comment %} 
    // articles section
  {% endcomment %}

  {% assign posts = site.posts %}
  {%- if posts.size > 0 -%}
    <br>
    <h2 id="articles"> articles </h2>
    <p>For more stuff check my the <a href="">evergreen notes</a>.</p>
    <br>

    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <span class="post-meta">{{ post.date | date: "%b/%Y" }}</span> {{ post.title | escape }} 
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {% comment %} 
    // Papers and collabs section
  {% endcomment %}
  <br>
  <h2 id="publications"> publications, papers, collabs </h2>
  <br>

  {% comment %} 
    // Talks section
  {% endcomment %}
  <br>
  <h2 id="talks"> talks </h2>
  <br>

</div>
